.header {
    background-size: cover;
    padding: 60px;
    text-align: center;
    background: url('img/wood-texture.jpg');
    color: white;
    font-size: 30px;
}

.game {
    position: relative;

}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}
.project-card {
    border-style: dotted solid double solid;
    padding: 1.5rem;
    text-decoration: aquamarine;
    color: inherit;
    transition: transform 0.2s;
}
.project-card[s="WIP"] {
    background: lightgray;
    color: white;

}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.footer {
    background-size: cover;
    padding: 3px;
    text-align: center;
    background-image: linear-gradient(to bottom, #c57dc1, #6c4a7a);
    color: white;
}